<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/users/{id} (id=${user.getId()})}"
       th:text="${user.getId()} + ': ' + ${user.getName()} + ', ' + ${user.getAge()}">
        user
    </a>
</div>

<form th:method="POST" th:action="@{/users}" th:object="${newUser}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}"  id="name" th:charset="utf-8"/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <input type="submit" value="Create!">
</form>

</body>
</html>